<div class="doctor-show">
<table id="t01">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Specialty</th>
    <th>Phone</th>
    <th>Location</th>
  </tr>

  <tr>
    <td>{{doctor.first_name}}</td>
    <td>{{doctor.last_name}}</td>
    <td>{{doctor.specialty}}</td>
    <td>{{doctor.phone}}</td>
    <td>{{doctor.location}}</td>
  </tr>
</table>


<form id="doctor-update-form">
  <fieldset>
      First Name:
      <input value={{doctor.first_name}} pattern=".{1,}" required title="1 characters minimum" type="text" name="doctor[first_name]" maxlength="30">
      Last Name:
      <input value={{doctor.last_name}} pattern=".{1,}" required title="1 characters minimum" type="text" name="doctor[last_name]" maxlength="30">
      Specialty:
      <input value={{doctor.specialty}} pattern=".{1,}" required title="1 characters minimum" type="text" name="doctor[specialty]" maxlength="30">
      Phone:
      <input value={{doctor.phone}} pattern=".{1,}" required title="1 characters minimum" type="text" name="doctor[phone]" maxlength="30">
      Location:
      <input value={{doctor.location}} pattern=".{1,}" required title="1 characters minimum" type="text" name="doctor[location]" maxlength="30">
    <input class="btn btn-danger" type="submit" name="submit" value="Change">
  </fieldset>
</form>
