<div class="patient-show">
<table id="t01">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Phone</th>
    <th>Primary Doctor</th>
  </tr>

  <tr>
    <td>{{patient.first_name}}</td>
    <td>{{patient.last_name}}</td>
    <td>{{patient.age}}</td>
    <td>{{patient.height}}</td>
    <td>{{patient.weight}}</td>
    <td>{{patient.phone}}</td>
    <td>{{patient.primary_doctor}}</td>
  </tr>
</table>


<div class="patient-details">
  <div class="patient-details-child">
    <form id="patient-update-form">
      <fieldset>
          First Name:
          <input value={{patient.first_name}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[first_name]" maxlength="30">
          Last Name:
          <input value={{patient.last_name}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[last_name]" maxlength="30">
          Age:
          <input value={{patient.age}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[age]" maxlength="30">
          Height:
          <input value={{patient.height}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[height]" maxlength="30">
          Weight:
          <input value={{patient.weight}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[weight]" maxlength="30">
          Phone:
          <input value={{patient.phone}} pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[phone]" maxlength="30">
          Primary Doctor:
          <textarea pattern=".{1,}" required title="1 characters minimum" type="input" name="patient[primary_doctor]" maxlength="30" rows="10" cols="30">{{patient.primary_doctor}}</textarea>
        <input class="btn btn-danger" type="submit" name="submit" value="Change">
      </fieldset>
    </form>
  </div>

  <br>
  <br>

  <div class="patient-details-child" id="patient-appointments">
    <table id="t01">

      <h3 id="patient-appointments-header">Appointments With Doctor</h3>

      <tr>
        <th>Doctor</th>
        <th>Date</th>
        <th>Specialty</th>
        <th>Location</th>
      </tr>
      {{#each appointments as |appointment|}}
        <tr>
          <td>{{appointment.doctor_name}}</td>
          <td>{{appointment.date_on}}</td>
          <td>{{appointment.doctor_specialty}}</td>
          <td>{{appointment.location}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
